@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.nav,.nav-list {
  font-family: "Jeju Gothic", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  padding: 25px;

  color: black;
  text-decoration: none;
  font-size: 1.3em;
}

.nav-list button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.nav {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  margin-right: 2em;
}

.Navnb {
  font-weight: normal;
}

.order-online {
  background-color: #f10e60;
  color: white;
  border-radius: 10%;
  margin: 0;
  padding: 0;
}

.ChaiShaiLogo{
  max-width: 100%;
  height: auto;

  
}

.boba-landing img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.categories-container, .signature-items, .milk-tea-items, .hot-drink-items {
display: flex;
flex-direction: row;

align-items: center;
margin: 0;
padding: 0;


}

.page-container img {
    height: auto;
    max-width: 100%;
}

.categories-container{
    margin-top: 20px;
    background-color: #FDD44C;
    height: 5em;
    justify-content: center;

}

.categories-container ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    list-style: none;
}  

.categories button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}